.group-card-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.group-card {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.group-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    color: white;
    text-align: start;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* 그라데이션 배경 */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}



.group-members {
    color: white;
    font-size: 13px;
}