/* CSS 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ***************************************** */


/* 전역 스타일 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 100%;
	max-width: 720px;
	margin: 0 auto;

	/* SAFE AREA */
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	/* padding-top: 54px; */
	/* padding-bottom: calc(34px + 80px); */
}

::-webkit-scrollbar {
	display: none;
}

/* 폰트 초기화 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*, body {
	font-family: 'Nanum Gothic', sans-serif;
}

/* Ant Design - Tabs */
.ant-tabs {
	font-family: 'Nanum Gothic';
	font-size: 16px;
}
.ant-tabs >.ant-tabs-nav {
	margin: 0;
}
.ant-tabs .ant-tabs-tab {
	font-size: 16px;
	color: var(--gray1-color)
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: #000000;
}
.ant-tabs .ant-tabs-ink-bar {
	background: #000000;
}
.ant-tabs-top >.ant-tabs-nav .ant-tabs-ink-bar {
	height: 3px;
}